In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [20]:
Meso = pd.read_csv("assoRes_meso.csv")
Endo = pd.read_csv("assoRes_endo.csv")

In [21]:
Meso = Meso[['...1','waldStat_2', 'df_2', 'pvalue_2']]

Endo = Endo[['...1','waldStat_1', 'df_1', 'pvalue_1']]

In [23]:
Meso

           ...1            waldStat_2  df_2  pvalue_2
0        FYTTD1  58903552944125902848     8  0.000000
1         NRCAM   5414412493720495104     8  0.000000
2         PINK1    834190411919467776     8  0.000000
3        ZNF770    824064825792552704     8  0.000000
4        JARID2    501472423244413504     8  0.000000
...         ...                   ...   ...       ...
4101       PIGV      18.2257851306625     8  0.019596
4102       ELK4      18.0208652087142     8  0.021071
4103    ADAMTS6      17.7858243879766     8  0.022891
4104  HIST1H2AJ      17.7288090113101     8  0.023354
4105     DCAF11      16.9834838430973     8  0.030282

[4106 rows x 4 columns]